* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}

.left-container {
    background-color: aqua;
    display: grid;
    justify-content: center;
    padding-top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
}

nav > button {
    height: 30px;
    width: 100px;
}

.task-container {
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.folder-container {
    background-color: cornflowerblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 20px;
}

.todo-container {
    background-color: aliceblue;
    width: 100%;
}